body{
    perspective: 1000;
    display: grid;
    min-height: 100vh;
    place-items: center;
}

body::before{
    content: '';
    z-index: -1;
    width: 100%;
    min-height: 120%;
    position: absolute;
    opacity: 0.8;
    background-color: #d3d0dc;
}

.sun{
    border: 1px solid #d3d0dc;
    background-color: #633fcc;
    border-radius: 50% 50%;
    width: 30%;
    height: 50%;
    top: 75%;
    left: 35%;
    position: absolute;
    z-index: 1;
}

.loginGraphics::before{
    position: absolute;
    content: '';
    background-color:#f3f5f9;
    z-index:1;
    width: 100%;
    height: 100%;
}

.loginCard , .loginCard > .loginDetails >.teacherLogin {
    backface-visibility: hidden;
}


.flip{
    transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: 0.8s;
}
.unflip{
    transform: rotateY(360deg);
	transform-style: preserve-3d;
	transition: 0.8s;
}

.signupCard, .loginCard > .loginDetails> .studentLogin{
    backface-visibility: hidden;  
    transform: rotateY(180deg);
}

.shrink{
    height: 0%;
	transform-style: preserve-3d;
	transition: 0.8s;
}

.enlarge{
    height: 100%;
	transform-style: preserve-3d;
	transition: 0.8s;
}
